@font-face {
    font-family: 'Ferry';
    src:local("Ferry") url(../fonts/ferry_black.woff) format('woff');
}

#root {
    margin: 0 auto;
    width: 1440px;
}

body {
    margin: 0;
    padding: 0;
    font: 400 14px/17px 'Inter';
}


@media screen and (((max-device-width: 480px) and (orientation: portrait)) or ((max-device-width: 1080px) and (orientation: landscape))) {
    #root {
        margin: 0 auto;
        width: 100vw;
    }
}