@font-face {
    font-family: 'Ferry';
    src:local("Ferry") url(../fonts/ferry_black.woff) format('woff');
}

#root {
    margin: 0 auto;
    width: 1440px;
}

body {
    margin: 0;
    padding: 0;
}

@media (orientation: portrait) {
    #root {
        margin: 0 auto;
        width: 100vw;
    }
}