.post-card {
    position: relative;
    margin-bottom: 36px;
    width: 641px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
    overflow: hidden;
}

.post-card h4 {
    font: 400 16px/20px 'Inter';
    color: #949494;
    margin-left: 30px;
}

.post-card a {
    color: #949494;
    margin-left: 15px;
}

.post-title {
    display: block;
    margin-left: 30px;
    width: 546px;
    font: 500 25px/31px 'Inter';
    white-space: pre-line;
}

.tag-line {
    margin-left: 30px;
}

.tag {
    display: inline-block;
    width: 157px;
    height: 22px;
    border-radius: 5px;
    background: #FFB64F;
    font: 400 12px/22px 'Inter';
    text-align: center;
    margin-right: 2px;
}

.content {
    margin-left: 30px;
    width: 580px;
    height: 230px;
    font: 400 16px/19px 'Inter';
    opacity: 0.5;
    white-space: pre-line;
}

.source {
    position: absolute;
    top: 620px;
    left: 30px;
    width: 223px;
    height: 46px;
    border: none;
    border-radius: 5px;
    background-color: #7CE3E1;
    font: 400 16px/19px 'Inter';
}

.source:active {
    border: 2px solid #ffffff;
}

.source:hover {
    background-color: aqua;
}

.words {
    position: absolute;
    top: 650px;
    left: 500px;
    font: 400 16px/19px 'Inter';
    color: #949494;
}

.post-img {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 581px;
    height: 158px;
    border-radius: 10px;
    object-fit: cover;
}