.slider-conteiner {
    margin-top: 80px;
    padding: 0;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slide-button {
    width: 39px;
    height: 39px;
    background-image: url("../../public/assets/images/right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;    
}

.prev {
    rotate: 180deg;
}

.slide-button:hover {
    cursor: pointer;

}

.slider {
    width: 1320px;
    height: 260px;
    padding: 15px;
    margin: 0;
    overflow: hidden;
}

.cards {
    width: 5000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.5s;

}

.card {
    position: relative;
    left: -2px;
    min-width: 400px;
    height: 225px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
}

.image-container {
    position: relative;
    top: 30px;
    left: 20px;
    width: 64px;
    height: 64px;
    background: #029491;
    mask-repeat: no-repeat;
    mask-size: auto 100%;
    mask-position: center;
}

.card span {
    display: inline-block;
    position: relative;
    width: 313px;
    height: 44px;
    top: 60px;
    left: 20px; 
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
}

@media screen and (((max-device-width: 480px) and (orientation: portrait)) or ((max-device-width: 1080px) and (orientation: landscape))) {
    .slider-conteiner {
        margin-top: 20px;
        padding: 0;
        height: 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .slider {
        width: 100vw;
        height: 210px;
        padding: 0px;
        margin: 0;
        overflow: hidden;
    }

    .card {
        position: relative;
        left: 10px;
        top: 10px;
        min-width: auto;
        width: calc(100vw - 64px - 20px);
        height: 188px;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #00000033;
    }

    .card span {
        display: inline-block;
        position: relative;
        width: 278px;
        height: 44px;
        top: 30px;
        left: 20px; 
        font: 400 16px/18px 'Inter';
        text-align: left;
    }

    .image-container {
        top: 20px;
        width: 56px;
        height: 64px;
    }
}