.tarif-card {
    position: relative;
    margin: 0;
    padding: 0;
    width: 415px;
    height: 540px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #00000033;
  
}

.card-head {
    margin: 0;
    padding: 0;
    width: 415px;
    height: 132px;
    background-repeat: no-repeat;
    background-position: 95% 35%;
    background-size: 100px;
}

.card-head h1 {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 30px;
    left: 30px;
}

.card-head span {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    position: relative;
    left: 30px;
    top: 44px;
}


.current-tarif {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2%;
    left: 65%;
    width: 134px;
    height: 24px;
    border-radius: 10px;
    background: #3BA5E0;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
}

.prices {
    position: absolute;
    top: 33%;
    left: 8%;
}

.price {    
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    letter-spacing: 0.01em;
    text-align: left;
}

.old-price {
    margin-left: 20px;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration: line-through;
    opacity: 50%;
}


.w400 {    
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
}

.credit {
    position: absolute;
    top: 40%;
    left: 8%;
}

.list-tarif {
    position: absolute;
    top: 60%;
    left: 5%;
    list-style-image: url("../../public/assets/images/marker.svg");
}

.list-name {
    position: absolute;
    top: 54%;
    left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    text-align: left;

}

.detail-button {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 85%;
    left: 8%;
    width: 355px;
    height: 59px;
    border-radius: 5px;
    background: #5970FF;
    border-style: none;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
}

.cur-col {
    background: #d2d2d2;
    color: black
}

.detail-button:active {
    border-style:solid;
}

@media screen and (((max-device-width: 480px) and (orientation: portrait)) or ((max-device-width: 1080px) and (orientation: landscape))) {
    .tarif-card {
        width: 345px;
        height: 512px;
        margin-bottom: 40px;
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px #00000033;      
    }

    .card-head {
        width: 345px;
        height: 132px;
        background-repeat: no-repeat;
        background-position: 95% 15%;
        background-size: 60px;
    }

    .card-head h1 {
        font: 500 20px/24px 'Inter';
        position: relative;
        top: 30px;
        left: 30px;
    }
    
    .card-head span {
        font: 400 18px/22px 'Inter';
        left: 30px;
        top: 52px;
    }
    
    
    .current-tarif {
        margin: 0;
        padding: 0;
        position: relative;
        top: 1%;
        left: 62%;
        width: 122px;
        height: 21px;
        border-radius: 10px;
        background: #3BA5E0;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: center;
        color: white;
    }
    
    .prices {
        position: absolute;
        top: 30%;
        left: 30px;
    }  
    
    .old-price {
        margin-left: 20px;
        font-size: 25px;
        line-height: 30.26px;
        letter-spacing: 0.01em;
        text-align: left;
        text-decoration: line-through;
        opacity: 50%;
    }    
    
   
    .credit {
        margin-right: 35px;
        position: absolute;
        top: 39%;
        left: 30px;
    }
    
    .list-tarif {
        position: absolute;
        top: 58%;
        left: 14px;
        list-style-image: url("../../public/assets/images/marker.svg");
    }

    .list-tarif li {
        font: 400 16px/19px 'Inter';
    }
    
    .list-name {
        top: 52%;
        left: 30px;
        font: 500 18px/21px 'Inter';   
    }
    
    .detail-button {
        top: 82%;
        left: 8%;
        width: 286px;
        height: 59px;
        font: 400 18px/21px 'Inter';        
        color: white;
    }
    
    .detail-button:active {
        border-style:solid;
    }
}